*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #76BA99;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.todo-wrapper {
    margin-top: 3rem;
    background-color: #fff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.todo-wrapper h2 {
    margin: 0;
}

.todo-wrapper p {
    font-style: italic;
    color: #666;
    margin: 5px 0px;
}

.todo-wrapper ol {
    margin: 20px 0px 0px 2rem;
}

.todo-wrapper ol li {
    margin: 5px 0;
    padding: 3px;
    transition: all 0.5s ease-out;
}

.todo-wrapper ol li:nth-child(even) {
    background: rgb(240, 238, 238);
}

.todo-wrapper .completed {
    text-decoration: line-through;
    color: #666;
}

.todo-wrapper .pretty-button {
    margin: 10px 2px;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #ADCF9F;
    border: none;
    color: #2b2b2b;
    text-align: center;
    display: inline-block;
    font-size: small;
}

.todo-wrapper .pretty-button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.todo-wrapper input {
    padding: 3px 6px;
    border-radius: 5px;
}

.todo-wrapper form {
    display: inline-block;
}


.todo-wrapper #clear-button {
    background-color: #CED89E;
}

.todo-wrapper #empty-button {
    background-color: #FFDCAE;
}

.todo-wrapper #save-button {
    background-color: #CED89E;
}

@media only screen and (min-width: 1400px) {
    .todo-wrapper {
        width: 50%;
    }

    .todo-wrapper input {
        width: 600px;
    }
    
}

@media only screen and (max-width: 1399px) and (min-width: 750px) {
    .todo-wrapper {
        width: 75%;
    }

    .todo-wrapper input {
        width: 400px;
    }
}